@using Gadi.Extensions

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid" ng-controller="CarController as model" ng-init="model.initialise()">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <div class="col-lg-1">
                                <i class="material-icons">person</i>
                            </div>
                            <div class="col-lg-5">
                                <h2><span> Cars</span> </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">

                    @if (User.IsSuperAdmin())
                    {
                        <div class="row">
                            <div class="col-xs-6">
                                <a class="btn btn-primary btn-lg">
                                    <i class="fa fa-user"></i> Create
                                </a>
                            </div>
                        </div>
                    }

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
                        <div class="input-group">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p class="text-muted font-13 m-b-30">
                            </p>
                            <div id="datatable_wrapper" class="dataTables_wrapper form-inline">
                                <div ng-if="model.cars.length !=0">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            @Html.Partial("Pagination/_pageSize")
                                        </div>
                                        <div class="col-xs-8 col-sm-6 align-right">
                                            <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchCars(searchField)" class="form-control form-control-w-50" placeholder="Search for Cars...">
                                            <button class="btn bg-amber waves-effect align-right" ng-click="model.searchCars(searchField)" type="button">Go!</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable" role="grid" aria-describedby="datatable-fixed-header_info">
                                                <thead>
                                                <tr role="row">
                                                    <th ng-click="model.order('Name')" ng-class="model.orderClass('Name')">Name</th>
                                                    <th ng-click="model.order('FuelType')" ng-class="model.orderClass('FuelType')">Fuel Type</th>
                                                    <th ng-click="model.order('Engine')" ng-class="model.orderClass('Engine')">Engine</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="car in model.cars" class="" ng-click="$event.originalEvent.ngClickHandled">
                                                    <td><span ng-bind="car.Name"></span></td>
                                                    <td><span ng-bind="car.FuelType"></span></td>
                                                    <td><span ng-bind="car.Engine"></span></td>
                                                    <td>
                                                        <div class="btn-group pull-right">
                                                            <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                                <i class="fa fa-chevron-down font-15"></i>
                                                            </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a class="waves-effect waves-block" style="cursor: pointer;" ng-click="model.editCar(car.CarId)">
                                                                        Edit Car
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @Html.Partial("Pagination/_pagination")
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label ng-bind="model.searchMessage"></label>
                                    </div>
                                    <div ng-if="model.searchMessage!=''">
                                        <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
                                            <span class="fa fa-chevron-left"></span>&nbsp;Back to list
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
