@using Gadi.Extensions

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid" ng-controller="DrivingSchoolController as model" ng-init="model.initialise()">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <div class="col-lg-1">
                                <i class="material-icons">person</i>
                            </div>
                            <div class="col-lg-5">
                                <h2><span> Driving Schools</span> </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">

                    @*@if (User.IsSuperAdmin())
                    {*@
                        <div class="row">
                            <div class="col-xs-6">
                                <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "DrivingSchool")">
                                    <i class="fa fa-user"></i> Create
                                </a>
                            </div>
                        </div>
                    @*}*@

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
                        <div class="input-group">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p class="text-muted font-13 m-b-30">
                            </p>
                            <div id="datatable_wrapper" class="dataTables_wrapper form-inline">
                                <div ng-if="model.drivingSchools.length !=0">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            @Html.Partial("Pagination/_pageSize")
                                        </div>
                                        <div class="col-xs-8 col-sm-6 align-right">
                                            <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchDrivingSchools(searchField)" class="form-control form-control-w-50" placeholder="Search for Driving School...">
                                            <button class="btn bg-amber waves-effect align-right" ng-click="model.searchDrivingSchools(searchField)" type="button">Go!</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable" role="grid" aria-describedby="datatable-fixed-header_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Avatar</th>
                                                        <th ng-click="model.order('Name')" ng-class="model.orderClass('Name')">Name</th>
                                                        <th ng-click="model.order('Address1')" ng-class="model.orderClass('Address1')">Address1</th>
                                                        <th ng-click="model.order('EmailId')" ng-class="model.orderClass('EmailId')">Email</th>
                                                        <th ng-click="model.order('Mobile')" ng-class="model.orderClass('Mobile')">Mobile</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="drivingSchool in model.drivingSchools" class="" ng-click="$event.originalEvent.ngClickHandled">
                                                        <td><span ng-cloak><img class="avatar" ng-src="{{ person.Avatar.Url || '/Images/Avatar.png' }}" alt="Avatar" title="avatar"></span><br /></td>
                                                        <td><span ng-bind="drivingSchool.Name"></span></td>
                                                        <td><span ng-bind="drivingSchool.Address1"></span></td>
                                                        <td><span ng-bind="drivingSchool.EmailId"></span></td>
                                                        <td><span ng-bind="drivingSchool.Mobile"></span></td>
                                                        <td>
                                                            <div class="btn-group pull-right">
                                                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                                    <i class="fa fa-chevron-down font-15"></i>
                                                                </a>
                                                                @*<ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a style="cursor: pointer;" ng-click="model.viewDrivingSchool(drivingSchool.DrivingSchoolId)">
                                                                            View
                                                                        </a>
                                                                    </li>
                                                                </ul>*@
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li>
                                                                        <a style="cursor: pointer;" ng-click="model.editDrivingSchool(drivingSchool.DrivingSchoolId)">
                                                                            Edit Driving School
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @Html.Partial("Pagination/_pagination")
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label ng-bind="model.searchMessage"></label>
                                    </div>
                                    <div ng-if="model.searchMessage!=''">
                                        <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
                                            <span class="fa fa-chevron-left"></span>&nbsp;Back to list
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
