*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*bower_components
*packages
.*dll
.*pdb
.*cache
.*exe
Source/Gadi.Common/bin*/
Source/Gadi.Common/bin/Debug/Gadi.Common.dll
Source/Gadi.Common/bin/Debug/Gadi.Common.pdb
Source/Gadi.Common/obj/Debug/Gadi.Common.dll
Source/Gadi.Common/obj/Debug/Gadi.Common.pdb
Source/Gadi.Data/bin/Debug/Gadi.Data.dll
Source/Gadi.Data/bin/Debug/Gadi.Data.pdb
Source/Gadi.Data/obj/Debug/Gadi.Data.csprojResolveAssemblyReference.cache
Source/Gadi.Data/obj/Debug/Gadi.Data.dll
Source/Gadi.Data/obj/Debug/Gadi.Data.pdb
