*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
obj/Debug*/
bower_components*/
bin/Debug*/
[Ss]ource/packages*/
obj/Debug/*.dll
[Bb]uild/
[Oo]bj
obj/Debug
*.dll
