@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<div ng-controller="HomeController as model">
    <ng-map zoom="13" center="1600 pennsylvania ave, washington DC">
        <custom-marker ng-repeat="cm in model.customMarkers" position="{{cm.address}}"
                       on-mouseover="mouseover()" on-mouseout="mouseout()"
                       on-click="click()">
            <div class="{{cm.class}}"><div> Custom Marker {{cm.class}}</div> </div>
        </custom-marker>
    </ng-map>
    <!-- Basic Example -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        BASIC EXAMPLE
                    </h2>
                </div>
                <div class="body">
                    <div id="gmap_basic_example" class="gmap"></div>
                </div>
            </div>
        </div>
    </div>
</div>